name: "Release"

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: "Release"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5
        with:
          ref: master
      - name: "Enable corepack"
        run: corepack enable
      - name: "Setup Node.js"
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
          registry-url: https://registry.npmjs.org
      - name: "Install dependencies"
        run: yarn install --immutable
      - name: "Build"
        run: yarn workspaces foreach -A run build
      - name: "Create Release PR or Publish"
        uses: changesets/action@v1
        with:
          publish: yarn release
          version: yarn version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
